# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [135]:
import numpy as np
import pandas as pd
import requests
import math
from scipy.stats import percentileofscore as score
import xlsxwriter

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [136]:
from secrets import IEX_CLOUD_API_TOKEN
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
496    YUM
497    ZBH
498   ZBRA
499   ZION
500    ZTS

[501 rows x 1 columns]

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [137]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2442427795111,
 'week52high': 187.53,
 'week52low': 129.02,
 'week52highSplitAdjustOnly': 189.66,
 'week52lowSplitAdjustOnly': 132.91,
 'week52change': 0.05748992227298021,
 'sharesOutstanding': 16148479185,
 'float': 0,
 'avg10Volume': 105481193,
 'avg30Volume': 98860173,
 'day200MovingAvg': 156.1,
 'day50MovingAvg': 167.95,
 'employees': 153622,
 'ttmEPS': 6.19,
 'ttmDividendRate': 0.9130405623897275,
 'dividendYield': 0.006151485070695266,
 'nextDividendDate': '',
 'exDividendDate': '2022-07-23',
 'nextEarningsDate': '2022-10-18',
 'peRatio': 24.691152989874972,
 'beta': 1.2746148296691535,
 'maxChangePercent': 57.23763632885126,
 'year5ChangePercent': 3.22448852891551,
 'year2ChangePercent': 0.3338600220000331,
 'year1ChangePercent': 0.06331565167264376,
 'ytdChangePercent': -0.15792541098633367,
 'month6ChangePercent': -0.1469666996333157,
 'month3ChangePercent': 0.09408915689889971,
 'month1ChangePercent': -0.08424109953546224,
 'day30ChangePercent': -0.07224494954890459,
 'day5ChangePercent': -0.025505257907792695}

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [138]:
data['year1ChangePercent']

0.06331565167264376

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [139]:
# Function sourced from
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]


symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))

my_columns = ['Ticker', 'Price',
              'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [140]:
final_dataframe = pd.DataFrame(columns=my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=price,stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
            pd.Series(
                [
                    symbol,
                    data[symbol]['price'],
                    data[symbol]['stats']['year1ChangePercent'],
                    'N/A'
                ],
                index=my_columns),
            ignore_index=True)

final_dataframe

    Ticker    Price One-Year Price Return Number of Shares to Buy
0        A  127.200             -0.222062                     N/A
1      AAL   12.450              -0.40626                     N/A
2      AAP  167.502             -0.221155                     N/A
3     AAPL  146.334              0.064186                     N/A
4     ABBV  148.400              0.413808                     N/A
..     ...      ...                   ...                     ...
496    YUM  108.860             -0.104887                     N/A
497    ZBH  111.110              -0.29199                     N/A
498   ZBRA  277.186             -0.501143                     N/A
499   ZION   53.100              -0.13214                     N/A
500    ZTS  158.900             -0.209384                     N/A

[501 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [141]:
final_dataframe.sort_values('One-Year Price Return',
                            ascending=False, inplace=True)
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(drop=True, inplace=True)
final_dataframe

   Ticker     Price One-Year Price Return Number of Shares to Buy
0      LB    81.570              2.356446                     N/A
1     OXY    64.480              1.079799                     N/A
2     HRB    44.657              0.850615                     N/A
3      CF    98.510              0.831174                     N/A
4     DVN    63.440              0.813744                     N/A
5     MCK   353.520              0.760814                     N/A
6     MRO    23.140               0.67985                     N/A
7     UNM    39.420              0.671971                     N/A
8     MPC    98.850               0.65648                     N/A
9     APA    35.170              0.644911                     N/A
10   DLTR   138.320              0.614555                     N/A
11   VRTX   293.250               0.61036                     N/A
12    VLO   108.110              0.606687                     N/A
13    VAR   180.770              0.579154                     N/A
14    COP   103.900              0.571778                     N/A
15    XOM    92.900              0.551869                     N/A
16    LLY   338.300              0.550126                     N/A
17    KSU   299.330              0.521923                     N/A
18    EOG   114.100              0.506297                     N/A
19    CVX   145.029              0.489659                     N/A
20   NLSN    28.395              0.448876                     N/A
21     CI   287.870              0.424763                     N/A
22    CAH    69.170               0.41563                     N/A
23   ABBV   148.400              0.413808                     N/A
24    ADM    83.350                0.4072                     N/A
25    PXD   222.480               0.40524                     N/A
26    HES   108.800               0.39801                     N/A
27    MOS    49.450              0.388749                     N/A
28   CTVA    58.380              0.385697                     N/A
29    HSY   231.030              0.381415                     N/A
30    NOC   491.680               0.37461                     N/A
31    GIS    79.170              0.372418                     N/A
32    PGR   120.730              0.355477                     N/A
33    COG    22.290              0.355246                     N/A
34   ANET   117.840              0.351877                     N/A
35    WRB    66.280              0.321579                     N/A
36     LW    79.380              0.321413                     N/A
37    SRE   158.260              0.320271                     N/A
38    UNH   513.920              0.314249                     N/A
39     ED    92.690              0.312313                     N/A
40   FANG   121.800              0.309343                     N/A
41    ALB   277.410              0.293657                     N/A
42   ANTM   498.700              0.291916                     N/A
43    AZO  2195.200              0.287744                     N/A
44    ATO   109.089              0.284048                     N/A
45    GPC   153.034              0.279292                     N/A
46    HUM   493.210              0.262315                     N/A
47    BMY    75.371              0.252271                     N/A
48    GWW   490.060              0.251995                     N/A
49    CNP    30.527              0.242253                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [142]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input('Enter the size of your portfolio:')

    try:
        float(portfolio_size)
    except:
        print('That is not a number! \n Please try again:')
        portfolio_size = input("Enter the value of your portfolio:")


portfolio_input()
print(portfolio_size)

1000000

In [143]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe)):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(
        position_size / final_dataframe.loc[i, 'Price']
    )
final_dataframe

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

   Ticker     Price One-Year Price Return Number of Shares to Buy
0      LB    81.570              2.356446                     245
1     OXY    64.480              1.079799                     310
2     HRB    44.657              0.850615                     447
3      CF    98.510              0.831174                     203
4     DVN    63.440              0.813744                     315
5     MCK   353.520              0.760814                      56
6     MRO    23.140               0.67985                     864
7     UNM    39.420              0.671971                     507
8     MPC    98.850               0.65648                     202
9     APA    35.170              0.644911                     568
10   DLTR   138.320              0.614555                     144
11   VRTX   293.250               0.61036                      68
12    VLO   108.110              0.606687                     184
13    VAR   180.770              0.579154                     110
14    COP   103.900              0.571778                     192
15    XOM    92.900              0.551869                     215
16    LLY   338.300              0.550126                      59
17    KSU   299.330              0.521923                      66
18    EOG   114.100              0.506297                     175
19    CVX   145.029              0.489659                     137
20   NLSN    28.395              0.448876                     704
21     CI   287.870              0.424763                      69
22    CAH    69.170               0.41563                     289
23   ABBV   148.400              0.413808                     134
24    ADM    83.350                0.4072                     239
25    PXD   222.480               0.40524                      89
26    HES   108.800               0.39801                     183
27    MOS    49.450              0.388749                     404
28   CTVA    58.380              0.385697                     342
29    HSY   231.030              0.381415                      86
30    NOC   491.680               0.37461                      40
31    GIS    79.170              0.372418                     252
32    PGR   120.730              0.355477                     165
33    COG    22.290              0.355246                     897
34   ANET   117.840              0.351877                     169
35    WRB    66.280              0.321579                     301
36     LW    79.380              0.321413                     251
37    SRE   158.260              0.320271                     126
38    UNH   513.920              0.314249                      38
39     ED    92.690              0.312313                     215
40   FANG   121.800              0.309343                     164
41    ALB   277.410              0.293657                      72
42   ANTM   498.700              0.291916                      40
43    AZO  2195.200              0.287744                       9
44    ATO   109.089              0.284048                     183
45    GPC   153.034              0.279292                     130
46    HUM   493.210              0.262315                      40
47    BMY    75.371              0.252271                     265
48    GWW   490.060              0.251995                      40
49    CNP    30.527              0.242253                     655

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

- High-quality momentum stocks show "slow and steady" outperformance over long periods of time
- Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of:

- 1-month price returns
- 3-month price returns
- 6-month price returns
- 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

In [144]:
hqm_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy',
    'One-Year Price Return',
    'One-Year Return Percentile',
    'Six-Month Price Return',
    'Six-Month Return Percentile',
    'Three-Month Price Return',
    'Three-Month Return Percentile',
    'One-Month Price Return',
    'One-Month Return Percentile',
    'HQM Score'
]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=price,stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(
            pd.Series([symbol,
                       data[symbol]['price'],
                       'N/A',
                       data[symbol]['stats']['year1ChangePercent'],
                       'N/A',
                       data[symbol]['stats']['month6ChangePercent'],
                       'N/A',
                       data[symbol]['stats']['month3ChangePercent'],
                       'N/A',
                       data[symbol]['stats']['month1ChangePercent'],
                       'N/A',
                       'N/A'
                       ],
                      index=hqm_columns),
            ignore_index=True)

hqm_dataframe.columns
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,129.230,N/A,-0.227525,N/A,-0.086674,N/A,0.059957,N/A,-0.047373,N/A,N/A
1,AAL,12.860,N/A,-0.420198,N/A,-0.268822,N/A,-0.056855,N/A,-0.073762,N/A,N/A
2,AAP,167.213,N/A,-0.223035,N/A,-0.21266,N/A,-0.081305,N/A,-0.051208,N/A,N/A
3,AAPL,147.021,N/A,0.062833,N/A,-0.146148,N/A,0.096196,N/A,-0.08815,N/A,N/A
4,ABBV,146.785,N/A,0.414006,N/A,-0.092247,N/A,-0.043372,N/A,0.062908,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,109.490,N/A,-0.10608,N/A,-0.100204,N/A,-0.042597,N/A,-0.036336,N/A,N/A
497,ZBH,108.230,N/A,-0.296219,N/A,-0.142516,N/A,0.010153,N/A,0.000195,N/A,N/A
498,ZBRA,266.262,N/A,-0.49562,N/A,-0.361385,N/A,-0.104969,N/A,-0.122662,N/A,N/A
499,ZION,54.530,N/A,-0.133289,N/A,-0.230819,N/A,0.018697,N/A,-0.057176,N/A,N/A
500,ZTS,158.910,N/A,-0.207506,N/A,-0.199698,N/A,-0.105625,N/A,-0.049653,N/A,N/A

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

- `One-Year Price Return`
- `Six-Month Price Return`
- `Three-Month Price Return`
- `One-Month Price Return`

Here's how we'll do this:

In [145]:
time_periods = [
    'One-Year',
    'Six-Month',
    'Three-Month',
    'One-Month'
]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        change_col = f'{time_period} Price Return'
        percentile_col = f'{time_period} Return Percentile'
        if hqm_dataframe.loc[row, change_col] == None:
            hqm_dataframe.loc[row, change_col] = 0.0

for row in hqm_dataframe.index:
    for time_period in time_periods:
        change_col = f'{time_period} Price Return'
        percentile_col = f'{time_period} Return Percentile'
        hqm_dataframe.loc[row, percentile_col] = score(
            hqm_dataframe[change_col], hqm_dataframe.loc[row, change_col])
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,129.230,N/A,-0.227525,34.331337,-0.086674,68.063872,0.059957,81.437126,-0.047373,75.449102,N/A
1,AAL,12.860,N/A,-0.420198,8.982036,-0.268822,24.550898,-0.056855,40.319361,-0.073762,60.878244,N/A
2,AAP,167.213,N/A,-0.223035,35.129741,-0.21266,39.92016,-0.081305,28.542914,-0.051208,73.652695,N/A
3,AAPL,147.021,N/A,0.062833,77.644711,-0.146148,54.091816,0.096196,88.423154,-0.08815,49.301397,N/A
4,ABBV,146.785,N/A,0.414006,95.209581,-0.092247,66.666667,-0.043372,45.908184,0.062908,98.003992,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
496,YUM,109.490,N/A,-0.10608,53.692615,-0.100204,64.271457,-0.042597,46.307385,-0.036336,80.439122,N/A
497,ZBH,108.230,N/A,-0.296219,22.355289,-0.142516,54.89022,0.010153,67.664671,0.000195,92.215569,N/A
498,ZBRA,266.262,N/A,-0.49562,3.992016,-0.361385,7.58483,-0.104969,22.55489,-0.122662,24.351297,N/A
499,ZION,54.530,N/A,-0.133289,50.0998,-0.230819,35.728543,0.018697,70.05988,-0.057176,70.05988,N/A
500,ZTS,158.910,N/A,-0.207506,37.724551,-0.199698,43.712575,-0.105625,22.355289,-0.049653,74.451098,N/A

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

In [146]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(
            hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

In [147]:
hqm_dataframe.sort_values(by='HQM Score', ascending=False)
hqm_dataframe = hqm_dataframe[:50]
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,A,129.230,N/A,-0.227525,34.331337,-0.086674,68.063872,0.059957,81.437126,-0.047373,75.449102,64.820359
1,AAL,12.860,N/A,-0.420198,8.982036,-0.268822,24.550898,-0.056855,40.319361,-0.073762,60.878244,33.682635
2,AAP,167.213,N/A,-0.223035,35.129741,-0.21266,39.92016,-0.081305,28.542914,-0.051208,73.652695,44.311377
3,AAPL,147.021,N/A,0.062833,77.644711,-0.146148,54.091816,0.096196,88.423154,-0.08815,49.301397,67.365269
4,ABBV,146.785,N/A,0.414006,95.209581,-0.092247,66.666667,-0.043372,45.908184,0.062908,98.003992,76.447106
5,ABC,139.892,N/A,0.161479,85.429142,-0.100114,64.471058,-0.030645,51.696607,-0.053916,71.656687,68.313373
6,ABMD,259.660,N/A,-0.256586,28.542914,-0.224477,37.52495,0.003963,65.668663,-0.032022,82.235529,53.493014
7,ABT,101.550,N/A,-0.16172,44.710579,-0.17617,47.704591,-0.074286,32.135729,-0.032517,82.035928,51.646707
8,ACN,260.820,N/A,-0.190784,39.720559,-0.203226,42.914172,-0.074127,32.335329,-0.125897,23.153693,34.530938
9,ADBE,281.500,N/A,-0.526368,2.794411,-0.38304,6.586826,-0.240623,3.592814,-0.272546,0.598802,3.393214
10,ADI,145.200,N/A,-0.145937,47.105788,-0.132504,56.886228,-0.02165,54.89022,-0.08544,51.497006,52.59481
11,ADM,83.630,N/A,0.410546,95.00998,-0.095996,66.067864,0.099325,89.021956,-0.075381,59.481038,77.39521
12,ADP,229.320,N/A,0.205571,89.021956,0.06229,92.41517,0.091685,87.62475,-0.072273,61.876248,82.734531
13,ADSK,198.780,N/A,-0.338207,15.568862,-0.116077,61.477046,0.082672,85.828343,-0.081449,54.091816,54.241517
14,AEE,85.070,N/A,0.079857,78.842315,-0.05953,72.854291,-0.040914,47.305389,-0.093022,44.311377,60.828343
15,AEP,95.060,N/A,0.190736,88.023952,-0.027142,78.043912,-0.008638,59.481038,-0.081295,54.491018,70.00998
16,AES,23.769,N/A,0.026874,73.852295,-0.053672,73.453094,0.099171,88.822355,-0.103936,35.728543,67.964072
17,AFL,59.280,N/A,0.113482,80.838323,-0.117201,60.678643,0.030802,72.255489,-0.061843,66.067864,69.96008
18,AIG,47.800,N/A,-0.109614,53.293413,-0.23216,35.329341,-0.05342,42.115768,-0.075077,59.88024,47.654691
19,AIV,7.370,N/A,0.062156,77.44511,-0.006201,81.636727,0.184938,97.005988,-0.184582,6.387226,65.618762
20,AIZ,152.799,N/A,-0.051036,61.876248,-0.179939,46.906188,-0.134847,14.570858,-0.077042,57.684631,45.259481
21,AJG,171.767,N/A,0.154481,84.830339,0.008863,86.626747,0.051504,79.840319,-0.088766,48.103792,74.850299
22,AKAM,83.570,N/A,-0.234784,32.53493,-0.315586,14.171657,-0.114601,19.560878,-0.110995,31.536926,24.451098
23,ALB,279.500,N/A,0.302303,91.816367,0.308777,99.001996,0.24987,98.602794,-0.034988,81.437126,92.714571
24,ALGN,217.320,N/A,-0.690828,0.399202,-0.528826,1.197605,-0.128562,16.367265,-0.16182,9.780439,6.936128
25,ALK,40.540,N/A,-0.347555,14.171657,-0.305153,15.768463,-0.010892,58.483034,-0.101968,37.325349,31.437126
26,ALL,131.240,N/A,0.015278,73.053892,-0.090701,67.265469,0.013076,68.662675,0.018331,95.409182,76.097804
27,ALLE,91.790,N/A,-0.320835,17.764471,-0.184503,46.506986,-0.065752,36.327345,-0.057505,69.660679,42.56487
28,ALXN,186.300,N/A,0.0,70.658683,0.0,84.630739,0.0,64.071856,0.0,91.017964,77.59481
29,AMAT,85.300,N/A,-0.349071,13.972056,-0.377739,6.786427,-0.095105,25.748503,-0.132772,19.96008,16.616766
30,AMCR,11.162,N/A,-0.041386,63.672655,-0.021357,79.441118,-0.111212,20.958084,-0.11488,28.542914,48.153693
31,AMD,67.000,N/A,-0.342104,14.770459,-0.436188,3.393214,-0.154059,10.978044,-0.259533,0.998004,7.53493
32,AME,115.990,N/A,-0.097426,55.888224,-0.143885,54.491018,0.040513,76.247505,-0.066349,63.872255,62.62475
33,AMGN,240.293,N/A,0.128586,81.836327,-0.024991,78.842315,-0.045985,44.710579,-0.041916,77.644711,70.758483
34,AMP,260.432,N/A,-0.027621,65.668663,-0.161616,50.898204,0.071766,84.031936,-0.056786,70.259481,67.714571
35,AMT,218.430,N/A,-0.16706,43.712575,-0.091232,67.065868,-0.130715,15.369261,-0.155287,11.377246,34.381238
36,AMZN,119.350,N/A,-0.290233,23.353293,-0.310473,14.97006,0.10275,89.421158,-0.099607,39.321357,41.766467
37,ANET,119.810,N/A,0.351993,93.612774,-0.168789,49.301397,0.230529,98.203593,-0.052951,72.45509,78.393214
38,ANSS,236.250,N/A,-0.332785,15.968064,-0.281509,21.556886,-0.034071,50.299401,-0.088916,47.704591,33.882236
39,ANTM,490.920,N/A,0.285016,91.217565,0.057844,92.015968,0.006678,66.467066,-0.071791,62.47505,78.043912
40,AON,277.340,N/A,-0.042604,63.073852,-0.156626,51.896208,0.038215,75.449102,-0.037489,79.241517,67.41517
41,AOS,49.220,N/A,-0.194829,38.922156,-0.242122,32.135729,-0.084024,27.944112,-0.138115,17.56487,29.141717
42,APA,35.670,N/A,0.623302,98.203593,-0.129643,58.283433,-0.103975,22.754491,-0.142676,15.169661,48.602794
43,APD,234.020,N/A,-0.084162,57.684631,-0.043194,75.249501,-0.024888,53.892216,-0.106373,33.732535,55.139721
44,APH,68.690,N/A,-0.07484,59.481038,-0.080455,70.459082,0.075718,84.830339,-0.080546,55.489022,67.56487
45,APTV,84.720,N/A,-0.459457,6.187625,-0.281667,21.357285,-0.101571,24.550898,-0.094978,42.51497,23.652695
46,ARE,140.300,N/A,-0.246139,29.540918,-0.284744,19.96008,-0.0149,57.48503,-0.111512,30.738523,34.431138
47,ATO,109.488,N/A,0.291492,91.417166,-0.066038,72.055888,-0.008985,59.281437,-0.059892,67.664671,72.60479
48,ATVI,77.670,N/A,-0.006665,68.662675,-0.053112,73.652695,-0.023156,54.091816,-0.041413,78.043912,68.612774
49,AVB,184.410,N/A,-0.13919,48.902196,-0.249294,29.341317,-0.047215,44.311377,-0.111328,30.938124,38.373253

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

In [148]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")


portfolio_input()
print(portfolio_size)

1000000

In [149]:
position_size = float(portfolio_size) / len(final_dataframe.index)
for i in range(0, len(final_dataframe['Ticker'])):
    final_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(
        position_size / final_dataframe['Price'][i])
final_dataframe

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

   Ticker     Price One-Year Price Return Number of Shares to Buy
0      LB    81.570              2.356446                     245
1     OXY    64.480              1.079799                     310
2     HRB    44.657              0.850615                     447
3      CF    98.510              0.831174                     203
4     DVN    63.440              0.813744                     315
5     MCK   353.520              0.760814                      56
6     MRO    23.140               0.67985                     864
7     UNM    39.420              0.671971                     507
8     MPC    98.850               0.65648                     202
9     APA    35.170              0.644911                     568
10   DLTR   138.320              0.614555                     144
11   VRTX   293.250               0.61036                      68
12    VLO   108.110              0.606687                     184
13    VAR   180.770              0.579154                     110
14    COP   103.900              0.571778                     192
15    XOM    92.900              0.551869                     215
16    LLY   338.300              0.550126                      59
17    KSU   299.330              0.521923                      66
18    EOG   114.100              0.506297                     175
19    CVX   145.029              0.489659                     137
20   NLSN    28.395              0.448876                     704
21     CI   287.870              0.424763                      69
22    CAH    69.170               0.41563                     289
23   ABBV   148.400              0.413808                     134
24    ADM    83.350                0.4072                     239
25    PXD   222.480               0.40524                      89
26    HES   108.800               0.39801                     183
27    MOS    49.450              0.388749                     404
28   CTVA    58.380              0.385697                     342
29    HSY   231.030              0.381415                      86
30    NOC   491.680               0.37461                      40
31    GIS    79.170              0.372418                     252
32    PGR   120.730              0.355477                     165
33    COG    22.290              0.355246                     897
34   ANET   117.840              0.351877                     169
35    WRB    66.280              0.321579                     301
36     LW    79.380              0.321413                     251
37    SRE   158.260              0.320271                     126
38    UNH   513.920              0.314249                      38
39     ED    92.690              0.312313                     215
40   FANG   121.800              0.309343                     164
41    ALB   277.410              0.293657                      72
42   ANTM   498.700              0.291916                      40
43    AZO  2195.200              0.287744                       9
44    ATO   109.089              0.284048                     183
45    GPC   153.034              0.279292                     130
46    HUM   493.210              0.262315                      40
47    BMY    75.371              0.252271                     265
48    GWW   490.060              0.251995                      40
49    CNP    30.527              0.242253                     655

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

In [150]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index=False)

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

- String format for tickers
- \$XX.XX format for stock prices
- \$XX,XXX format for market capitalization
- Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [151]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

dollar_template = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

integer_template = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

percent_template = writer.book.add_format(
    {
        'num_format': '0.0%',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

In [152]:
column_formats = {
    'A': ['Ticker', string_template],
    'B': ['Price', dollar_template],
    'C': ['Number of Shares to Buy', integer_template],
    'D': ['One-Year Price Return', percent_template],
    'E': ['One-Year Return Percentile', percent_template],
    'F': ['Six-Month Price Return', percent_template],
    'G': ['Six-Month Return Percentile', percent_template],
    'H': ['Three-Month Price Return', percent_template],
    'I': ['Three-Month Return Percentile', percent_template],
    'J': ['One-Month Price Return', percent_template],
    'K': ['One-Month Return Percentile', percent_template],
    'L': ['HQM Score', integer_template]
}

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(
        f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(
        f'{column}1', column_formats[column][0], string_template)

## Saving Our Excel Output

As before, saving our Excel output is very easy:

In [153]:
writer.save()